<div class="font-settings">
  <label for="font_picker">Font:</label>
  <input type="text" id="font_picker" name="font_picker">
  
  <label for="text_size">Text Size:</label>
  <input type="range" id="text_size" name="text_size" min="12" max="30">
  
  <label for="line_height">Line Height:</label>
  <input type="range" id="line_height" name="line_height" min="1.0" max="2.0" step="0.1">
</div> 