<div class="responsive-settings">
  <label for="mobile_text_size">Mobile Text Size:</label>
  <input type="range" id="mobile_text_size" name="mobile_text_size" min="10" max="18">
  
  <label for="visibility_control">Visibility on Mobile:</label>
  <select id="visibility_control" name="visibility_control">
    <option value="visible">Visible</option>
    <option value="hidden">Hidden</option>
  </select>
</div> 